<div class="homepage">
    <h1>Home</h1>
    <div class="home-page-sections">
        <div class="section-two">
        </div>
        <div class="section-three">
            <p>Login Internet Banking</p>
            <ul>
                <li>
                    <a routerLink="/login"> >> Login</a>
                </li>
                <li>
                    <a routerLink="/new-user">>> New User? Register</a>
                </li>
                <li>
                    <a routerLink="/new-account">>> Apply online for account</a>
                </li>
                <li>
                    <a routerLink="/forgot-user-id">>>  Forgot User Id</a>
                </li>
            </ul>
            
        </div>
    </div>
</div>
